<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MacFat</title>
    <link rel="stylesheet" type="text/css" href="index.css" />
</head>

<body>

    <script src="McFat-WebTech/Controllers/app.js">
    </script>

    <nav>
        <ul class="topnav">
            <li><button id="active" class="button"><a class="active" href="#home"><span>Home</span></a></button></li>
            <li><button class="button"><a href="#MacMap"><span>MacMap</span></a></button></li>
            <li><button class="button"><a href="#MacStats"><span>MacStats</span></a></button></li>
            <li><button class="button"><a href="#MacMenu"><span>MacMenu</span></a></button></li>
        </ul>

        <!-- <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="">MacMap</a></li>
            <li><a href="" onclick="displayMacStats()">MacStats</a></li>
            <li><a href="">MacMenu</a></li>
        </ul> -->
    </nav>

    <figure>
        <img id="logo" src="mac.png" alt="Logo" />
    </figure>

    <div id="desc">
        <section>
            <p>Welcome to MacFat main page. With MacFat, you can always find the location of your nearest McDonalds
                with just a few clicks. Or search for other McDonalds
                restaurant locations using our interactive map. You will also find useful statistics on menu prices in
                different countries to help decide your travel plans.</p>
        </section>
    </div>

</body>

</html>