<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name='viewport' content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MacFat</title>

    <!--CSS Stylesheets-->
    <link rel="stylesheet" type="text/css" href="index.css" />

    <!--JS Scripts-->
    <script src="../Controllers/app.js"></script>
    <script src="../Controllers/jquery.js"></script>

    <!-- lets load Leaflet's .js and .css from CDN-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>

    <!-- Load Esri Leaflet from CDN.  it has no .css stylesheet of its own, only .js -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js" integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
        crossorigin=""></script>

</head>
   <script>
    $(function () {
        loadDatabase();
    });
</script>
<body>

    <nav>
        <ul class="topnav">
            <li><button id="active" class="button"><a class="active" onclick="displayMacHome()"><span>Home</span></a></button></li>
            <li><button class="button"><a onclick="displayMacMap()"><span>MacMap</span></a></button></li>
            <li><button class="button"><a onclick="displayMacStats()"><span>MacStats</span></a></button></li>
            <li><button class="button"><a onclick="displayMacMenu()"><span>MacMenu</span></a></button></li>
        </ul>
    </nav>

    <div id="page">
        <script>displayMacHome()</script>
    </div>

</body>

</html>