<!DOCTYPE html>
<html>

<figure>
    <img id="logo" src="mac.png" alt="Logo" />
</figure>

<div id="desc">
    <section>
        <p>Welcome to MacFat main page. With MacFat, you can always find the location of the nearest McDonalds
            with just a few clicks. Or search for other McDonald
            restaurant locations using our interactive map. You will also find useful statistics such as the
            number of restaurants in each country and per inhabitants. And you can already
            plan your menu on this application and send it by mail to you instantly!</p>
    </section>
</div>


</html>