<!DOCTYPE html>
<html>

<figure>
    <img id="logo" src="mac.png" alt="Logo" />
</figure>

<div id="desc">
    <section>
        <p>Welcome to MacFat main page. With MacFat, you can always find the location of your nearest McDonalds
            with just a few clicks. Or search for other McDonalds
            restaurant locations using our interactive map. You will also find useful statistics on menu prices
            in
            different countries to help decide your travel plans.</p>
    </section>
</div>


</html>