<!DOCTYPE html>
<html>

<head>
    <meta name='viewport' content="width=device-width, initial-scale=1.0" />


    <script src="../Controllers/MacMap.js"></script>

    <!--CSS Stylesheets-->
    <link rel="stylesheet" type="text/css" href="MacMap.css" />

</head>


<body>
    <div class="embed-container">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="McDonaldEurope" src="//tugraz-webtech.maps.arcgis.com/apps/Embed/index.html?webmap=77ef43b45fc749cb82485d31cf5c5fea&extent=-56.3437,21.9686,69.1641,68.9209&zoom=true&previewImage=false&scale=true&disable_scroll=false&theme=light"></iframe>
        <div id="HTML_Geolocation">
            <button onclick="getCoordinates()">Display your coordinates and find the nearest McDonald!</button>
            <p id="user_coord"></p>
            <div>
                <p id="NearestMcDonald"></p>
            </div>
        </div>
    </div>
</body>

</html>