<!DOCTYPE html>
<html>

<head>
    <meta name='viewport' content="width=device-width, initial-scale=1.0" />


    <script src="../Controllers/MacMap.js"></script>

    <!--CSS Stylesheets-->
    <link rel="stylesheet" type="text/css" href="MacMap.css" />



</head>

<body>
    <div id="map"></div>
    <script>loadMap()</script>
    <div id="HTML_Geolocation">
        <button onclick="displayCoordinates()">Display your coordinates</button>
        <p id="user_coord">Lorem ipsum</p>
    </div>
</body>



</html>