body {
	margin: 0;
	font-family: 'McLetters','Times New Roman', Times;
	background-image: url('background-test.jpg');
	background-size: 100%;
}

#statlist {
  position:fixed;
  left:50%;
  top:23%;
}

#chartContainer {
  position:fixed;
  height: 55%;
  top:40%;
  left:20%;
  width : 60%;
  max-width: 100%;
}

.country {
  position:fixed;
  left:25%;
  top:15%;
}

#draw {
  position:fixed;
  left:45%;
  top:35%;
}