body {
	margin: 0;
	font-family: 'McLetters','Times New Roman', Times;
	background-image: url('background-test.jpg');
	background-size: 100%;
}

#myCanvas {
	position:fixed;
  height: 500px;
  top:450px;
  left:480px;
   width: 50%;
   background-color : white;
}


#statlist {
  position:fixed;
  left:900px;
  top:250px;
}


#country {
  position:fixed;
  left:400px;
  top:250px;
}

#draw {
  position:fixed;
  left:900px;
  top:400px;
}
